[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = https://github.com/sproutcore/sproutcore.git
[submodule "frameworks/sc-local-storage"]
	path = frameworks/sc-local-storage
	url = https://gist.github.com/9514029.git
[submodule "frameworks/rich-text-editor"]
	path = frameworks/rich-text-editor
	url = https://github.com/sproutcore/rich-text-editor.git
